@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.menu ul {
    list-style-type: none;
}

#additional-info ul {
    list-style: none
}

body {
}

.menu {
    background-color: #2A333A;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.menu li {
    display: inline;
    margin: 0 40px;

}

ul{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

a:hover, a:visited, a:link, a:active
{
    color: whitesmoke;
    text-decoration: none;
}